body {
  background-color: #666666;
  color: black;
}
#index h1 {
  font-size: 6rem;
}

.logo {
  width: 200px;
  height: 200px;
}

p {
  font-size: 25px;
}

#p-body {
  text-align: center;
}

.crystal {
  width: 100px;
  height: 100px;
  transform: rotate(0);
  display: inline-block;
  margin: 40px;
  cursor: pointer;
}

.crystal:hover {
  transform: rotate(180deg) scale(1.2);
  transition: 0.5s all;
}

.crystal:active {
  transform: rotate(180deg) scale(1);
  transition: 0.2s all;
}
